{% extends 'base.html' %}
{% block content %}
<style>
    html, body {

    margin: 0;
    padding: 0;
    }

    #map {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
    overflow: auto;

    }
</style>
<div><h2>What's up, <span class="subtitle">Playa?</span></h2></div>

{% for o in object_list %}

<div style="position: relative; clear: both">
    <div id="map"></div>
    <div class="matchdetails">
        <h4>Game Title: {{ o.title }}</h4>
        <h4>Date & Time: {{ o.time |timeuntil }} </h4>
        <h4>Location: <a href="{{ o.location.url }}">{{ o.location.title }}</a></h4>
        <h4>Players: </h4>
        {% for users in o.users.all %}
        <h5>{{ users.user }}</h5>
        {% endfor %}
        {% if request.user.profile not in o.users.all %}
        <a href="{% url 'footy:join_match' pk=o.pk %}" class="btn btn-success mybtn ">Join <span class="glyphicon glyphicon-ok"></span></a>
        {% elif request.user.profile %}
        <a href="{% url 'footy:leave_match' pk=o.pk %}" class="btn btn-danger mybtn">Leave <span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h4>Comments/Extras: {{ o.extras }}</h4>


    </div>
    <hr>
</div>
<script>
            var map;
            var myLatLng = {lat: {{ o.location.point.y }}, lng: {{ o.location.point.x }}};
            window.initMap = function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 15
                });
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Join!!'
                });
            };


</script>


{% endfor %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChig6ije2wDaAL7zUaZ2a_adjTKS5OkSI&callback=initMap"
        async defer></script>
{% endblock %}