{% extends 'base.html' %}
{% block content %}
            <div><h2>What's up, <span class="subtitle">Playa?</span></h2></div>
            {% for o in object_list %}
                <h4>Game Title: {{ o.title }}</h4>
                <h4>Date & Time: {{ o.time |timeuntil }} </h4>
                <h4>Location: <a href="{{ o.location.url }}">{{ o.location.title }}</a></h4>
                <h4>Players: </h4>
                {% for users in o.users.all %}
                    <h5>{{ users.user }}</h5>
                {% endfor %}
                <h4>Comments/Extras: {{ o.extras }}</h4>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}