{% extends 'base.html' %}
{% load staticfiles bootstrap3 %}

{% block content %}
    <style>
        html, body {

            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            right: 0;
            height: 100%;
            width: 60%;
            overflow: auto;

        }
    </style>
    <div style="position: relative; clear: both">
        <div id="map"></div>
        <div class="matchdetails">
            <h4>Game Title: {{ object.title }}</h4>
            <h4>Date & Time: {{ object.time |timeuntil }} </h4>
            <h4>Location: <a href="{{ o.location.url }}">{{ object.location.title }}</a></h4>
            <h4>Players: </h4>
            {% for users in object.users.all %}
                <li><h5>{{ users.user }}</h5></li>
            {% endfor %}
            <h4>Comments/Extras: {{ object.extras }}</h4>
            <hr>
        </div>
    </div>

    <script>
        var map;
        var myLatLng = {lat: {{ object.location.points.y }}, lng: {{ object.location.points.x }}};
        window.initMap = function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 15
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Join!!'
            });
        };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChig6ije2wDaAL7zUaZ2a_adjTKS5OkSI&callback=initMap"
            async defer></script>

{% endblock %}