{% extends 'base.html' %}
{% block content %}
{% for o in object_list %}
    <h3>Game Title: </h3><h4>{{ o.title }}</h4><br/>
    <h3>Date & Time: </h3><h4>{{ o.time |timeuntil }}</h4><br/>
    <h3>Location: </h3><h4><a href="{{ o.location.url }}">{{ o.location.title }}</a></h4><br/>
    <h3>Players: </h3>
    {% for usr in o.users.all %}
        <h4>{{ usr }}</h4><br/>
    {% endfor %}
    <h5>{{ event.title }}</h5>
    <h3>Comments/Extras:</h3> <h4>{{ o.extras }}</h4>
    <hr>
{% endfor %}
{% endblock %}