{% extends 'base.html' %}
{% load staticfiles bootstrap3 %}

{% block content %}
<style>
    html, body {

    margin: 0;
    padding: 0;
    }

    #map {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
    overflow: auto;
</style>
<h1>Create A  New Match</h1> <br>

<form name="new_match" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Save {% bootstrap_icon "save" %}
    </button>
    {% endbuttons %}
    <div id="test"></div>
</form>
{% endblock %}