.title {
    font-family: Damion, cursive;
    font-size: 46px;
    color: #2A412F;
}

.subtitle {
    font-family: Damion, cursive;
    font-size: 34px;
}

.logout-btn {
    float: right;
}

.mybtn {
    float: right;
    overflow: auto;
    margin-bottom: 15%;
}

.matchdetails {
    width: 50%;
}

.form-control {
        border: 0;
        border-bottom: 1px solid #555;
        background-color: #fff;
        font-weight: 300;
        padding-right: 0;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        width: 39%;

    }
.form-control:hover {
    border-shadow: 0 0 0 0;
}

.player-list {
    float: right;
}

.famlogo {
  font-family: 'Frijole', cursive;
  font-size: 2.5em;
  color: black;
}

li > a {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color: #002A09;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	padding: 7px 30px;
    margin: 0px 7px 7px 0px;
    margin-top: 5%;
    float: right;
	border-radius: 7px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}
.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

h1 {
        font-family: 'Montserrat', cursive;
}

h3 {
    font-family: 'Montserrat', cursive;
    display: inline;
}

h4 {
    font-family: 'Montserrat', cursive;
     display: inline;
     color: #4D4A4A;
}

#nearby_map {
    height: 80%;
    width: 100%;
    overflow: auto;
    margin:auto;
    }

@media(max-width:500px){
    #nearby_map {
    width: 100%;
    }

    .container {
    width: 100%;
    padding:0;
    }
}

#addlocation_map {
        position: relative;
        right: 0;
        height: 50%;
        width: 50%;
        overflow: auto;
}

location_exist {
    color: white;

}