
/* Background */
.bg {
    background: url('pics/blue-torres.jpg'), #014EFF;
    background-repeat: no-repeat, repeat;
}

.logout-btn {
    float: right;
}

.mybtn {
    float: right;
    overflow: auto;
    margin-bottom: 15%;
}

.form-btn {
    border-radius: 0;
    background-color: #FFF;
    font-family: 'Roboto Slab', cursive;
    font-weight: 700;

}

.matchdetails {
    width: 50%;
}

@media(max-width:700px){
    .matchdetails {
        width: 100%;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
    border-color: black;
}

.form-control {
        border: 0;
        border-bottom: 1px solid #FFF;
        background-color: #014EFF !important;
        font-weight: 700;
        padding-right: 0;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        width: 39%;
        color: #FFF;
        font-size: 16px;

}

/*Collapsing at 946px width, preventing 3 rows of navbar */
@media (max-width:946px) {
    .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.form-control:hover {
    border-shadow: 0 0 0 0;
}

.player-list {
    float: right;
}

.famlogo {
    font-family: 'Frijole', cursive;
    font-size: 3.2rem;
    color: white;
}

@media(max-width:320px){
    .famlogo {
        font-size: 1em;
    }

}

@media(max-width:946px) and (min-width:321px){
    .famlogo {
        font-size: 1.2em;
    }
}

.famlogo:hover {
    color: #E74C3C;
}

.navbar-default .navbar-nav li > a {
    font-family: 'Inconsolata', serif;
    font-size: 1.2rem;
    line-height: 3.2rem;
    /* color: #002A09; */
     color: white;
}

@media (max-width=946px){
    .navbar-default .navbar-nav li > a {
    font-size: 13px;
     color: white;
    }
}

.navbar-default .navbar-nav li > a:hover {
    background-color: #FFF;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
	padding: 7px 30px;
    margin: 0px 7px 7px 0px;
    margin-top: 5%;
    right: 0;
    bottom: 0;
	border-radius: 7px;
	font-family: 'Pacifico', cursive;
	font-size: 23px;
	color: #FFF;
	text-decoration: none;
}

.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}
.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

h1 {
        font-family: 'Roboto Slab', cursive;
}

h3 {
    font-family: 'Roboto Slab', cursive;
    display: inline;
}

h4 {
    font-family: 'Montserrat', cursive;
     display: inline;
     color: #FFF;
}

#nearby_map {
    height: 80%;
    width: 100%;
    overflow: auto;
    margin:auto;
    }

@media(max-width:700px){
    #nearby_map {
        width: 100%;
    }

    .container {
        width: 100%;
        padding:0;
    }
}

#addlocation_map {
    height: 50%;
    width: 100%;
    overflow: auto;
    left: 0;
}

.new_location {
    width: 55%;
    height: 100%;
}

@media (min-width: 946px) {

    #mynav > ul li:not(:first-child):after {
      content: "";
      border-right: 1px solid white;
      position: absolute;
      line-height: 2.5rem;
      top: 40%;
      height: 1.2rem;
    }

    .logout-nav-btn {
        font-size: 1rem;
    }

    .famlogo {
        font-size: 2.5rem;
    }
    .navbar-default .navbar-nav li > a {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
}
